body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, select, option {
  position: absolute;
  display: block;
  z-index: 99;
}

button {
  position: absolute;
  display: block;
  z-index: 99;

  background-color:#008CBA;
  color: white;

  border: none;
  border-radius: 8px;
  padding: 8px 20px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;

  transition-duration: 0.4s;
}

button:hover {
  background-color: #085b7700;
  border: 2px solid #008CBA;
  color: white;
}

#rulesets {
  left: 5%;
  top: 5%;
}

#density {
  left: 5%;
  top: 8%
}

#start {
  left: 5%;
  top: 12%;
}

#reset {
  left: 5%;
  top: 20%;
}