body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, input, select, option {
  position: absolute;
  display: block;
  z-index: 99;
}

#rulesets {
  left: 5%;
  top: 5%;
}

#density {
  left: 5%;
  top: 8%
}

#start {
  left: 5%;
  top: 12%;
}

#reset {
  left: 5%;
  top: 20%;
}